[selector] {
  [property]: [value];
}

/* Global Styles go here */


@font-face {
  font-family: Courier;
  src: url("Courier-New.woff");
}

/*navigation styles go here*/
.fixed {
  position: sticky;
  top: 10px;
  left: 0;
  font-size: 16px;
  display: inline-block;
  padding: 11px;
  border: 1px dotted #000;
  margin-right: 4px;
  margin-bottom: 8px;
  font-family: Courier;
  border-radius: 10px;
}

a:link, a:visited {
color: green;
text-decoration: none;
display: inline-block;
}

 a:hover {
   color:grey;
   border-style: solid;
    border:  #000 1px;
 }

/*---------------------------*/

html{
background-color:
  }

header {
    width: 1300px;
    height: 250px;

}

body {
  background: white;
  color: black;
  font-size: 12px;
  padding:10px;
  height: 2000px;

}

main  {
  display: inline-grid;
  vertical-align: top;
  width: 1300px;
  height: 1000px;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  column-gap: 10px;
  grid-gap: 10px;
  font-family: Courier;
  padding-top: 25px;
  padding-bottom: 25px;
  grid-auto-flow: row;



}


.container {
  max-width: 1300px;
  height: 1500px;
  display: ;
}

h1 {
  font-family: Courier;
}

h3 {
  font-family: Courier, 'Courier New';
  text-align: center;
}

/*box styles go here*/

ul {
  list-style: none;
  display: inline-block;
  word-wrap: break-word;
  overflow: auto;
  height: 250px;
  padding: 4px;
  margin: 2px;
  font-family: Courier;
  cursor: zoom-in;
}

section {
    display: inline-block;
    font-family: Courier;
    line-height: 1.8;
    height: 100px;
    display: flex;
    font-size: 12px;
}

.box-note {
  font-family: Courier;
  text-align: center;
  padding-top: 20px;
  font-size: 12px;

}

a:hover.box-meal{
  margin: 0px 5px 9px 0px;
  padding: 15px;

}

.box-note:hover{
    background-image: "art.jpg";
}

 .box-back:hover {
     background-image: url("art.jpg");
     font-family: monospace;
     text-align: center;
     font-size: 12px;
 }

.pic {
  width: 200px;
  height: 100px;
}

footer {
  font-family: Courier;
  font-size: 25px;
  word-wrap: break-word;
  margin: 1px;
}
a{
  border-bottom: 1px dotted #000;
}

* {
    box-sizing: border-box;
}

/*bottom styles unused*/
/*.box {
    float: left;
    margin: 1em;
    padding-left: 0em;
    font-style: italic;
  }

.alone {
  clear: both;
  margin: 0 auto;
}

.box2 {
    float: left;
    margin: 14px;
    text-align: center;
    font-style: italic;
    font-size: 10px;
}

.special {
  margin: 0 auto;
  width: 200px;
  align-content: center;
  padding-left: 2em;
}
*/
