/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
html, body {
	height: 100%;
}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
}


body {
  margin: 0 auto;
  max-width: 100%;
  padding-top: 2em;
}

  a:link, a:visited {
  color: green;
  text-decoration: none;
  display: inline-block;
}

 a:hover {
   color:grey;

 }



 #content {
   width: 80%;
   padding-left: 1em;
   padding-top: 1em;
   padding-bottom: 4em;
   display: block;
   position: relative;
 }


 #img-matter {
   padding: 5px;
   width: 15%;
   display: inline-block;
   position: relative;
 }
 #img-matter2 {
   padding: 5px;
   width: 25%;
   display: inline-block;
   position: relative;
 }

 #img-matter3 {
   padding: 5px;
   width: 35%;
   display: inline-block;
   position: relative;
 }


 #img-container {
   vertical-align: top;
   box-sizing: border-box;
   margin: 10px;
   width: 25%;
   float: left;
 }
