/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */

*,
*:before,
*:after {
  box-sizing: border-box;
}


nav.menu {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20vh;
  padding: 20px;
  padding-top: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

a.item {
  margin: 10px;
  padding: 6px;
  display: inline-flex;
  width: 200px;
  text-align: left;
  text-decoration: none;
  position: relative;

}


html{
  font-family: sans-serif;
  line-height: 1.15;
  background-color: rgb(100, 149, 237	);
  width: 100%;
  height: 100%;
  max-width: 1800px;
  max-height: 1800px;
}



body {

  font-family: Helvetica, sans-serif;
  color: black;
  margin: 0 auto;
  line-height: 1.3em;
  font-size: 14px;
  padding-top: 2em;
  overflow-x: hidden;
  display: block;
  text-align: center;


}

  a:link, a:visited {
  color: green;
  text-decoration: none;
  display: inline-block;
}

 a:hover {
   color:grey;
 }


 #filter-planted,
 #filter-moved_soil,
 #filter-made_my_beds,
 #filter-growing,
 #filter-out_there,
 #filter-amnis,
  #filter-stream
 {
   display: none;
 }



 #filter-container {
  z-index: 3;
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 60px;
  display: flex;
  align-items: top;
  justify-content: center;
  pointer-events: none;
}

ul#filters {
  margin: 0;
  list-style: none;
  font-size: 1.1em;
  /*font-size: 2vw;*/
  transform-style: preserve-3d;
  animation: three-dimensions-circle 30s ease-out infinite;
}

ul#filters li {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: visible;
}

ul#filters li:nth-child(1) {
  transform: translate(-50%, -50%) rotate(0deg) translateY(-260px) rotateX(90deg);
}

ul#filters li:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg) translateY(-260px) rotateX(90deg);
}

ul#filters li:nth-child(3) {
  transform: translate(-50%, -50%) rotate(90deg) translateY(-260px) rotateX(90deg);
}

ul#filters li:nth-child(4) {
  transform: translate(-50%, -50%) rotate(135deg) translateY(-260px) rotateX(90deg);
}

ul#filters li:nth-child(5) {
  transform: translate(-50%, -50%) rotate(180deg) translateY(-260px) rotateX(90deg);
}

ul#filters li:nth-child(6) {
  transform: translate(-50%, -50%) rotate(225deg) translateY(-260px) rotateX(90deg);
}

ul#filters li:nth-child(7) {
  transform: translate(-50%, -50%) rotate(270deg) translateY(-260px) rotateX(90deg);
}

ul#filters li:nth-child(8) {
  transform: translate(-50%, -50%) rotate(315deg) translateY(-260px) rotateX(90deg);
}

ul#filters li:nth-child(9) {
  transform: translate(-50%, -50%) rotate(380deg) translateY(-260px) rotateX(90deg);
}

@keyframes three-dimensions-circle {
  0% {
    transform: rotateX(-100deg) rotate(0);
  }
  100% {
    transform: rotateX(-100deg) rotate(-360deg);
  }
}

ul#filters .label {
  cursor: pointer;
}

@-webkit-keyframes pulse_pleasant {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1;
  }
}

ul#filters .label:hover,
ul#filters li.featured a:hover,
ul#filters a.scroll:hover {
  color: white;
}

ul#filters li.featured a {
  cursor: e-resize;
  text-decoration: none;
  -webkit-animation: pulse_pleasant 3.2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

ul#filters a.scroll {
  text-decoration: none;
  cursor: s-resize;
}

.checkbox:checked + .label {
  color: white;
}





#expand-toggle {
  display: none;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}

.expandable {
  visibility: hidden;
position: relative;


}

#expand-btn {
  display: inline-block;
  margin: 0 auto;
  margin-top: 12px;
  padding: 5px 11px;
  background-color: #ff7;
  border: 1px solid;
  border-radius: 3px;
  position: relative;
  cursor: pointer;

}


/* Show hidden content when the checkbox is checked */
#expand-toggle:checked ~ * .expandable {
  visibility: visible;
  cursor: pointer;

}


/* Style the button when the checkbox is checked */
#expand-toggle:checked ~ #expand-btn {
  background-color: #ccc;
  visibility: visible;
  cursor: pointer;

}

.flow {
  list-style: none;
  margin: 0 auto;
  line-height: 1.3em;

  padding: 6px;
  padding-top: 20px;
  width: 300px;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 5s;
}

.show {
  margin-left: 0 auto;
  opacity: 0;
  transition: opacity 5s;
  position: relative;
  
}

.end {
  position: fixed;
  left: 0px;
  top: 500px;

  padding-left: 20px;

  z-index: 6;
  font-family: "Courier";
}

a:link, a:visited {
color: green;
text-decoration: none;
display: inline-block;
}

a:hover {
 color:grey;
}




/****flowers****/


section {
margin: 0 auto;
padding-left: 50px;
}

#daisybranch{
  margin: 0 auto;
border-radius: 10px 10px 10px 10px;
  width: 7px;
  height: 242px;
  position: absolute;
  background: rgb(46, 139,  87)	;
  top: 230px;
  left: 800px;
  z-index: 1;
  max-width: 80px;
}

#daisy {
  margin: 0 auto;
width: 40px;
height: 40px;
background: red;
border-radius: 200px;
background: rgb(100, 149, 237);
position: absolute;
top: 186px;
left: 330px;
z-index: 1;
}
#daisy1 {
  margin: 0 auto;
width: 40px;
height: 40px;
background: rgb(100, 149, 237);
border-radius: 200px;
position: absolute;
top: 220px;
left: 350px;
z-index: 1
}
#daisy2 {
  margin: 0 auto;
width: 40px;
height: 40px;
background: rgb(100, 149, 237);
border-radius: 200px;
position: absolute;
top: 265px;
left: 315px;
z-index: 1;

}
#daisy3 {
  margin: 0 auto;
width: 40px;
height: 40px;
background: rgb(100, 149, 237);
border-radius: 200px;
position: absolute;
top: 250px;
left: 340px;
z-index: 1;
}
#daisy4 {
  margin: 0 auto;
width: 70px;
height: 70px;
background: rgb(255, 235, 205);
border-radius: 200px;
position: absolute;
top: 210px;
left: 300px;


}
#daisy7 {
  margin: 0 auto;
width: 40px;
height: 40px;
background:  rgb(100, 149, 237);
border-radius: 200px;
position: absolute;
top: 255px;
left: 290px;
z-index: 1;

}
#daisy5 {
  margin: 0 auto;
width: 40px;
height: 40px;
background:  rgb(100, 149, 237);
border-radius: 200px;
position: absolute;
top: 188px;
left: 291px;
z-index: 1;
}
#daisy6 {
  margin: 0 auto;
width: 40px;
height: 40px;
background:  rgb(100, 149, 237);
border-radius: 200px;
position: absolute;
top: 225px;
left: 280px;
z-index:1;
}

#leaf {
  margin: 0 auto;
    display: block;
    width: 26px;
    height: 56px;
    background-color: red;
    border-radius: 50% 60% 60% 50% / 70% 70% 40% 40%;
transform: rotate(45deg);
background:  rgb(46, 139,  87)	;
position: absolute;
top: 420px;
left: 348px;
z-index:1;
}

#leaf, #leaf1 {
margin: 0 auto;
position: absolute;
-webkit-animation-duration: 4s;
-webkit-animation-name: leaf1;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
-webkit-animation-timing-function: ease-in-out;
animation-name: leaf1;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in-out;
z-index: 1;
}


@-webkit-keyframes leaf1 {
from {
  margin: 0 auto;
  transform: rotate(60deg);
  left:  auto -40px;
  right: 10px;
}

to {
  margin: 0 auto;
  transform: rotate(-90deg);
  left: 10px;
  right: 40px;


}
}


#daisy, #daisy1, #daisy2, #daisy3, #daisy4, #daisy5, #daisy6, #daisy7  {
  margin: 0 auto;
position: absolute;
-webkit-animation-duration: 4s;
-webkit-animation-name: shine1;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
-webkit-animation-timing-function: ease-in-out;
animation-name: shine1;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in-out;
z-index: 1;
}


@-webkit-keyframes shine1 {
from {
  margin: 0 auto;
  transform: rotate(60deg);
  left:  auto -40px;
  right: 10px;
background-color: white;

}

to {
  margin: 0 auto;
  transform: rotate(-90deg);
  left: 10px;
  right: 40px;


}
}
/**************/
